* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 20px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
    position: relative;
}

.menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s, color 0.3s; /* Adicionado 'color' na transição */
}

.menu a:hover,
.menu a:focus {
    border-bottom-color: #333;
    color: #222; /* Alterada a cor para um tom mais escuro */
}

@media (max-width: 550px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .active .hamburger:nth-child(2) {
        opacity: 0;
    }

    .active .hamburger:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .active .hamburger:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    .menu.active {
        display: block;
    }
}

h1, p {
    color: #333;
}

footer {
    background-color: #000;
    color: white;
}

.footer-content {
    padding: 20px;
    text-align: center;
    color:white;
}

h3::first-letter{
    text-transform: uppercase;
}
.main-header-data:visited{
    text-decoration: none;
}

.main-header-title{
    font-size: 27px;
    line-height: 1.5;
    color: black;
    font-weight: normal;
    color: rgb(29, 29, 29);
}
.main-header-title strong{
    color: black;
    font-weight:1px;
}
.main-header-link{
    color:#160bb6;
    text-decoration: none;
    font-style: bold;

}
.main-header-link:hover{
    color: #160bb6;
}


.main-header-link p{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1px;
}

.image_profile{
    border-radius: 100%;
    width: 110px;
    height: 110px;
}

.main-header-link img{
    border-radius: 50%;
    overflow: hidden;
}
p{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 17px;
}

.main-header-data{
    margin-top: 7px;
    margin-bottom: 7px;
    word-wrap:break-word;
}

strong{
    color: #000;
}

.main-header-title_p{
    color: #1f1f1f;
    font-size: 22px;
    margin:0;
}


.main-content {
    flex: 0 0 65%; /* Define a largura como 65% */
}

.img_project{
    max-width: 100%;
    height: auto;
}
.hackathon{
    text-decoration: none;
}


/*Testando */

/* Estilos para a classe .main-header e .main-content */
/* Estilos para a classe .main-header e .main-content */
.main-header {
    height: 100%;
    padding: 70px 30px 72px;
    text-align: right;
    flex: 0 0 35%; /* Define a largura como 35% */
}

.main-content {
    padding: 20px 70px 72px;
    box-sizing: border-box;
    background-color: white;
    font-style: none;
    flex: 0 0 65%; /* Define a largura como 65% */
}

/* Utilizando Flexbox para organizar as divs */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* Media Query para ajustar o layout quando a tela for menor que 768px (por exemplo) */
@media screen and (max-width : calc(700px + 165px)) {
    .main-header{
        text-align: center;
    }

    .main-content{
        margin:0;;
    }

    .main-header, .main-content {
        flex: 0 0 100%; /* Ambos ocupam a tela inteira quando a tela for menor que 768px */
        margin: 0 auto; /* Centraliza horizontalmente */
    }

    /* Centraliza as divs usando flexbox em tela pequena */
    .container {
        justify-content: center;
    }
}

/* Media Query para ajustar o layout da impressão (layout como na tela grande) */
@media print {
    .main-header {
        width: 35%; /* Define a largura como 35% para a impressão */
        position: fixed; /* Fixa a .main-header na parte superior da página impressa */
        top: 0; /* Alinha a .main-header no topo da página */
        left: 0; /* Alinha a .main-header no canto esquerdo da página */
    }
    .main-content{
        margin-left: 35%;
    }
    .footer-content{
        display: none ;
    }
}

.white{
    color:white;
}
